<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Fengselssystem - case</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap demo</title>
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/bootstrap/css/bootstrap.rtl.min.css}" rel="stylesheet">
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>

<body>
	<div class="container">
		<h1>Fengselssystem for PIT - Case</h1>
		<div class="accordion" id="accordionPanelsStayOpenExample">
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
						<h3>Importer</h3>
					</button>
				</h2>
				<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
					<div class="accordion-body">
						<a th:href="@{/importer}">
							<button type="button" class="btn btn-primary">Importer dummy-data fra ekstern tjeneste</button>
						</a>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
						<h3>Alle arrestanter</h3>
					</button>
				</h2>
				<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show">
					<div class="accordion-body">
						<table class="table table-primary table-striped">
							<thead>
								<tr class="mdc-data-table__header-row">
									<th scope="col">ID</th>
									<th scope="col">Navn</th>
									<th scope="col">Alder</th>
									<th scope="col">Kjønn</th>
									<th scope="col">Celle nummer</th>
									<th scope="col">Fengslingsdato fra</th>
									<th scope="col">Fengslingsdato til</th>
									<th scope="col">Løslat</th>
								</tr>
							</thead>
							
							<tbody>
								<tr th:each="arrestant: ${arrestanter}">
									<td th:text="${arrestant.id}"></td>
									<td th:text="${arrestant.navn}"></td>
									<td th:text="${arrestant.alder}"></td>
									<td th:text="${arrestant.kjonn}"></td>
									<td>
										<form action="#" th:action="@{/overfor}" method="get">
											<input type="hidden" th:name="arrestantId" th:value="${arrestant.id}" /> 
											<input class="form-control" type="text" th:name="celleNummer" th:value="${arrestant.celleNummer}" onchange="javascript:submit()" />
										</form>
									</td>
									<td th:text="${arrestant.fengslingsDatoFra}"></td>
									<td th:text="${arrestant.fengslingsDatoTil}"></td>
									<td>
										<form action="#" th:action="@{/loslat}" method="get">
											<input type="hidden" th:name="arrestantId" th:value="${arrestant.id}" />
											<button class="btn btn-dark" onClick="javascript:submit()">
												Løslat
											</button>
										</form>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
						<h3>Sett inn arrestant</h3>
					</button>
				</h2>
				<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
					<div class="accordion-body">
						<form action="#" th:action="@{/settInn}" th:object="${arrestantUtenId}" method="post">
							<div class="mb-1">
							 	<label for="inputNavn" class="form-label">Navn</label>
							 	<input type="text" th:field="*{navn}" class="form-control" id="inputNavn" required="required">
							</div>
							<div class="mb-1">
							 	<label for="inputAlder" class="form-label">Alder</label>
							 	<input type="number" th:field="*{alder}" min="1" class="form-control" id="inputAlder" required="required">
							</div>
							<div class="mb-1">
							 	<label for="inputKjonn" class="form-label">Kjønn</label>
							 	<input type="text" th:field="*{kjonn}" class="form-control" id="inputKjonn" required="required">
							</div>
							<div class="mb-1">
							 	<label for="inputCelleNummer" class="form-label">Cellenummer</label>
							 	<input type="number" min="1" th:field="*{celleNummer}" class="form-control" id="inputCelleNummer">
							</div>
							<div class="mb-1">
							 	<label for="inputFengslingsdatoFra" class="form-label">Fengslingsdato fra</label>
							 	<input type="date" th:field="*{fengslingsDatoFra}" class="form-control" id="inputFengslingsdatoFra" required="required">
							</div>
							<div class="mb-3">
							 	<label for="inputFengslingsdatoTil" class="form-label">Fengslingsdato til</label>
							 	<input type="date" th:field="*{fengslingsDatoTil}" class="form-control" id="inputFengslingsdatoTil" required="required">
							</div>
							<button class="btn btn-success">
								Sett inn arrestant
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>